.header {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.menu {
  display: flex;
  margin: 25px 50px 0 0;
  color: #06ff00;
}
