.video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.second {
  margin: 0 auto;
  position: ;
  z-index: -1;
}

.datagraph1 {
  display: flex;
  height: 80vh;
  width: 100%;
  position: ;
  background-color: #064635;
}

.third {
  display: flex;
  margin: 0 auto;
  position: ;
  z-index: -1;
}

.forth {
  display: flex;
  margin: 0 auto;
  position: ;
  z-index: -1;
}

.datagraph2 {
  display: flex;
  height: 90vh;
  width: 100%;
  position: ;
}

.datagraph3 {
  display: flex;
  height: 40vh;
  width: 100%;
  position: ;
  background-color: #064635;
}
